body {
    background-image: url("../imgs/back.gif");
    background-repeat: no-repeat;
    background-size: cover;    
}



.navbar {
/*     display: flex;
    flex-direction: column; */
    background-color: #0F0097;
    border-radius: 25px;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    width: 10;
    left: 100;
    padding-top: 15px;
    margin-top: 25px;
}

.navbarTransport {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    color: red;
    font-size: 30px;
}

.action-items {
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    left: 100;
    padding-bottom: 15px;
}

#start, #passengers, #schedule, #maintenance {
    margin-bottom: 25px;
    padding: 10px;
}

.btn-action {
    background-color: deepskyblue;
}

.btn-start {
    background-color: aquamarine;
}


/* .navigation {
    display: flex;
    flex-direction: column;
} */