body {
    background-image: url("../imgs/back.gif");
    background-repeat: no-repeat;
    background-size: cover;    
}

img {
    /* vertical-align: middle; */
    width:50%;
    max-width:150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px; 
    margin-left: -50px;
}

/* .box {
    width: 20%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  } */

  /* <!-- Below, I created an overlay popup for the rules, which I found code for on Stack Exchnge and tailored for this game: https://stackoverflow.com/questions/47960621/html-button-on-click-show-overlay-layer --> */

  .rulebutton {
    font-size: 1em;
    padding: 10px;
    background:rgb(53, 185, 229);
    color: #fff;
    border: 2px solid blue;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    position: fixed;
    top: 25px;
    right: 25px;
  }

  .rulebutton:hover {
    background: blue;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
  }
  
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .popup .close:hover {
    color: orange;
  }
  
  .popup .rules {
    max-height: 30%;
    overflow: auto;
  }

    /* <!-- Above, I created an overlay popup for the rules, which I found code for on Stack Exchnge and tailored for this game: https://stackoverflow.com/questions/47960621/html-button-on-click-show-overlay-layer --> */

#lights{
    max-width:600px;
    position:relative;
    top: 50%;
    right: 50%;
    margin-top: -250px; 
    margin-right: 250px;
    z-index: 1;
}


/* Note: I found some help on animations from 'https://css-tricks.com/making-css-animations-feel-natural/' and played around with it until it felt right. */
#transit {  
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: bounce; 
     animation-timing-function: linear;
}
/* (NOTE: This was my original boring animation I made based off of some Googling. Still a bit confusing. @keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateX(-100px); }
    100% { transform: translateY(0); }
} */

    
@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1,1)   translateX(10); }
    30%  { transform: scale(.9,1.1)   translateX(-75px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateX(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

#Status {
    color: white;
    top: 50%;
    bottom: 50%;
    position: absolute;
    
}



.charName{
    background-color: rgb(242, 11, 231);
    color:#2109f5;
    border-radius: 30px;
    display: flex;
    position: fixed;
    left: 35%;
    align-items: center;
    justify-content: center;
   /*  text-align: center; */
    width: 50%;
}




.navbar {
/*     display: flex;
    flex-direction: column; */
    background-color: #0F0097;
    border-radius: 25px;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    width: 10;
    left: 100;
    padding-top: 15px;
    margin-top: 25px;
}

.stats {
    position: relative;
    left: -25px;
    border: 3px solid whitesmoke;
    vertical-align: middle;
    font-size: 16px;
    font-family: Impact, 
    Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    border-radius: 5px;
    background: blue;
    margin: auto;
    justify-content: center;
    
   /*  min-width: 500px; */
    min-height: 30px;
    line-height: 30px;
    padding: 5px;

  /*   padding-left: 50px; */
   /*  left: 100; */
    margin-left: 3.5%;
    margin-right: -10%;
    letter-spacing: 1px;

  
/*  column-span: none;
    justify-content: right;
    background-color: blue;
    border-radius: 25px;
    vertical-align: middle;
    display: inline; 
    margin-left: 100px;  */
}

.navbarTransport {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    color: red;
    font-size: 30px;
}

.action-items {
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    left: 100;
    padding-bottom: 15px;
}

#start, #passengers, #schedule, #maintenance {
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 30px;
}

.btn-action {
    background-color: deepskyblue;
}

.btn-start {
    background-color: aquamarine;
}


/* .navigation {
    display: flex;
    flex-direction: column;
} */